
:root {
    --font-primari-color: #810081;
    --font-secundari-color: #fff;
    --bg-color:  #97eeff;
    --bg-secondary-color: #6c1c95;
    
}

body{
    height: 100vh;
    background: #fff;
    color: black;
    font-family: Roboto;
}

