:root {
    --font-primary-color: #810081;
    --font-secondary-color: #fff;
    --bg-color:  #97eeff;
    --bg-secondary-color: #6c1c95;
    --color-btn: #f81b9c;
    --color-secondary-btn: #79114d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: var(--bg-color);
    color: var(--font-secondary-color);
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease, color 0.5s ease;
}

main {
    text-align: center;
}

.cuteMark {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.cuteMark.hide {
    opacity: 0;
}

.boton {
    margin: 20px auto;
}

.Switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 30px;
}

.Switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #6c1c95;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.heading {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 600px;
    background-color: var(--bg-secondary-color);
    border-radius: 10px;
    text-align: center;
}

.btn-primary {
    display: inline-block;
    margin: 1rem 0;
    padding: 1rem;
    width: 60%;
    border-radius: 2rem;
    background-color: var(--color-btn);
    color: var(--font-secondary-color);
    text-decoration: none;
    transition: background-color 0.7s ease;
}

.btn-primary:hover {
    background-color: var(--color-secondary-btn);
}
